<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioWorkImageMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioWorkImage">
        <id column="id" property="id"/>
        <result column="work_id" property="workId"/>
        <result column="work_image" property="workImage"/>
        <result column="work_status" property="workStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, work_id, work_image, work_status
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_work_image
        <where>
            <if test="criteria.workId != null">
                and work_id = #{criteria.workId}
            </if>
        </where>
        order by id
    </select>
</mapper>
