<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioBaseMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioBase">
        <id column="studio_id" property="studioId"/>
        <result column="studio_name" property="studioName"/>
        <result column="studio_name_c" property="studioNameC"/>
        <result column="studio_des" property="studioDes"/>
        <result column="studio_des_c" property="studioDesC"/>
        <result column="studio_loc" property="studioLoc"/>
        <result column="studio_loc_c" property="studioLocC"/>
        <result column="studio_loc_lon" property="studioLocLon"/>
        <result column="studio_loc_lat" property="studioLocLat"/>
        <result column="studio_mail" property="studioMail"/>
        <result column="studio_ig" property="studioIg"/>
        <result column="studio_red" property="studioRed"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        studio_id, studio_name, studio_name_c, studio_des, studio_des_c, studio_loc, studio_loc_c, studio_loc_lon, studio_loc_lat, studio_mail, studio_ig, studio_red, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_base
        <where>
        </where>
        order by studio_id desc
    </select>
    <select id="selectAll" resultType="me.zhengjie.modules.studio.domain.StudioBase">
        select *
        from studio_base
    </select>
</mapper>
