<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioAwardMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioAward">
        <id column="award_id" property="awardId"/>
        <result column="award_name" property="awardName"/>
        <result column="award_name_c" property="awardNameC"/>
        <result column="award_tag" property="awardTag"/>
        <result column="award_year" property="awardYear"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        award_id, award_name, award_name_c, award_tag,award_year, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_award
        <where>
            <if test="criteria.awardName != null and criteria.awardName != ''">
                and award_name like concat('%', #{criteria.awardName}, '%')
            </if>
            <if test="criteria.awardTag != null">
                and award_tag = #{criteria.awardTag}
            </if>
            <if test="criteria.awardYear != null and criteria.awardYear != ''">
                and award_year like concat('%', #{criteria.awardYear}, '%')
            </if>
        </where>
        order by award_year desc
    </select>
</mapper>
