<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioPartnerMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioPartner">
        <id column="partner_id" property="partnerId"/>
        <result column="partner_name" property="partnerName"/>
        <result column="partner_name_c" property="partnerNameC"/>
        <result column="partner_tag" property="partnerTag"/>
        <result column="partner_phone" property="partnerPhone"/>
        <result column="partner_mail" property="partnerMail"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        partner_id, partner_name, partner_name_c, partner_tag, partner_phone, partner_mail, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_partner
        <where>
            <if test="criteria.partnerId != null">
                and partner_id = #{criteria.partnerId}
            </if>
            <if test="criteria.partnerName != null and criteria.partnerName != ''">
                and partner_name like concat('%', #{criteria.partnerName}, '%')
            </if>
            <if test="criteria.partnerNameC != null and criteria.partnerNameC != ''">
                and partner_name_c like concat('%', #{criteria.partnerNameC}, '%')
            </if>
            <if test="criteria.partnerTag != null">
                and partner_tag = #{criteria.partnerTag}
            </if>
        </where>
        order by partner_id desc
    </select>
</mapper>
