<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioImageMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioImage">
        <id column="id" property="id"/>
        <result column="image_name" property="imageName"/>
        <result column="image_path" property="imagePath"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, image_name, image_path
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_image
        <where>
        </where>
        order by id desc
    </select>
</mapper>