<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.studio.mapper.StudioWorkMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.studio.domain.StudioWork">
        <id column="work_id" property="workId"/>
        <result column="work_name" property="workName"/>
        <result column="work_name_c" property="workNameC"/>
        <result column="work_type" property="workType"/>
        <result column="work_tags" property="workTags"/>
        <result column="work_des" property="workDes"/>
        <result column="work_des_c" property="workDesC"/>
        <result column="work_client" property="workClient"/>
        <result column="category" property="category"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        work_id, work_name, work_name_c, work_type, work_tags, work_des, work_des_c, work_client, category, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_work
        <where>
            <if test="criteria.workName != null and criteria.workName != ''">
                and work_name like concat('%', #{criteria.workName}, '%')
            </if>
            <if test="criteria.workNameC != null and criteria.workNameC != ''">
                and work_name_c like concat('%', #{criteria.workNameC}, '%')
            </if>
            <if test="criteria.workClient != null and criteria.workClient != ''">
                and work_client like concat('%', #{criteria.workClient}, '%')
            </if>
            <if test="criteria.workType != null">
                and work_type = #{criteria.workType}
            </if>
        </where>
        order by work_id desc
    </select>
    <select id="findAllSet" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_work
        <where>
            <if test="criteria.workName != null and criteria.workName != ''">
                and name like concat('%', #{criteria.workName}, '%')
            </if>
            <if test="criteria.workNameC != null and criteria.workNameC != ''">
                and name like concat('%', #{criteria.workNameC}, '%')
            </if>
        </where>
        order by work_id desc
    </select>
    <select id="findAllByNameC" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from studio_work
        <where>
            <if test="workNameC != null and workNameC != ''">
                and work_name_c like concat('%', #{workNameC}, '%')
            </if>
        </where>
        order by work_id desc
    </select>
    <!-- 按标签查询 -->
    <select id="findAllByTags" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM studio_work
        WHERE MATCH(work_tags) AGAINST(concat("'", #{tags}, "'") IN BOOLEAN MODE)
        ORDER BY category
        <if test="order == 'desc'">
            DESC
        </if>
        <if test="order == 'asc'">
            ASC
        </if>
    </select>
</mapper>
